html 


.Acura h1{ font-family: Arial, Helvetica, sans-serif;
  color:rgb(179, 14, 14);
}
.Acura h2{
  color: rgb(105, 12, 12);
}
.Acura p {font-size:  20px;
color: rgb(95, 2, 2);}

.BMW p{
  font-size: 20px;
  color: rgb(11, 24, 80);
 }
 .BMW h1{font-family: Arial, Helvetica, sans-serif;}

 .chevrolet h1{
    font-family: Arial, Helvetica, sans-serif;
}
.chevrolet p {
    font-size: 20px; color:rgb(28, 28, 119);
}
.chevrolet h2{
  color:rgb(51, 51, 104) ;
  
 }
 .Ferrari h1{font-family:Arial, Helvetica, sans-serif;} .Ferrari p {font-size:  20px; color: rgba(88, 1, 1, 0.76);}
 .Ferrari h2{
  color: ;
}

.Lamborghini h1{font-family: Arial, Helvetica, sans-serif;}.Lamborghini p {font-size:  20px; color: rgb(171, 173, 42);} .Lamborghini
h2{
  color: ;
}
#Limg{
  display: inline;
  gap: 20px;
}

.Toyota h1{font-family: Arial, Helvetica, sans-serif;color: darkgrey;}
.Toyota p {font-size:  20px; color: rgb(90, 90, 90);}
.Toyota h2{
  color:rgba(97, 117, 116, 0.664);
}

.Honda h1{font-family: Arial, Helvetica, sans-serif; background:-webkit-linear-gradient(left, black,rgb(51, 51, 48),yellow,yellow,rgb(0, 0, 0));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;}
.Honda p {font-size:  20px;color: rgb(110, 0, 0);}
.Honda h2{
  color: ;
}

.Mazda h1{font-family: Arial, Helvetica, sans-serif;
  background:-webkit-linear-gradient(left,rgb(161, 161, 159),rgb(255, 123, 0),rgb(255, 187, 0),rgb(255, 200, 0),rgb(255, 205, 0)
  ,rgb(255, 210, 0),rgb(255, 215, 0),rgb(255, 220, 0),rgb(255,225, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Mazda p {font-size:  20px; color: rgb(124, 124, 124);}
.Mazda h2{
  color: rgb(255, 145, 0);
}

.Ford h1{font-family: Arial, Helvetica, sans-serif;}
.Ford p {font-size:  20px; color: rgb(25, 84, 122);}
.Ford  h2{
  color: ;

}

.Nissan h1{font-family: Arial, Helvetica, sans-serif;
  background:-webkit-linear-gradient(left,rgb(146, 140, 140), rgba(255, 0, 0, 0.63));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;}
.Nissan  p {font-size:  20px;color: gray;}
.Nissan h2{
    color: ;
  }

 

.Porshe p {font-size:  20px;color: rgb(63, 61, 61);}
 .Porshe h1{font-family: Arial, Helvetica, sans-serif;}
 .Porshe h2{
    color: ;
  }

.Subaru p {font-size:  20px;color: rgb(25, 25, 92);}
 .Subaru h1{font-family: Arial, Helvetica, sans-serif; color: ;background:-webkit-linear-gradient(black,rgb(248, 200, 200),rgb(255, 0, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;}
 .Subaru h2{
  color:crimson ;
}
.Mistubishi h1{
  font-family: Arial, Helvetica, sans-serif; 
  background:-webkit-linear-gradient(right,rgba(255, 255, 255, 0),red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
 .Mistubishi p{font-size:  20px; color:rgb(85, 110, 255);}
 .Mistubishi h2{background:-webkit-linear-gradient(right,rgba(253, 253, 253, 0),rgba(255, 0, 0, 0.63));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  ;
}
.Mistubishi img{border-style:dotted ;
width:200px;
object-fit: cover;


}


 